body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



body.dark-mode {
  background: #181818 !important;
  color: #f6f6f6 !important;
}
body.dark-mode input,
body.dark-mode button,
body.dark-mode select,
body.dark-mode textarea {
  background: #20232a !important;
  color: #f6f6f6 !important;
  border-color: #555 !important;
}